/* Navigation bar styling */

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

.btn.btn-primary {
  font-weight: 700;
  margin: 0;
  font-size: 42px;
  font-family: 'Gloria Hallelujah', cursive;
  color: black;
  background-color: #fff;
  border: none;
}

.btn.btn-primary:hover {
  color: black;
  background-color: #fff;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

.link {
  padding-left: 15rem;
  margin: 0;
  font-family: 'Gloria Hallelujah', cursive;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: black;
  background-color: #fff;
}

.link:hover {
  color: black;
  text-decoration: none;
  background-color: #fff;
}

/* Header styling */
.jumbotron {
  display: flex;
  align-items: center;
  background-image: url("/img/header_back.jpg");
  color: #ffffff;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron img {
  padding-top: -5rem;
  max-height: 44rem;
}

.jumbotron h1 {
  padding-top: 17rem;
  font-family: 'Gloria Hallelujah', cursive;
  font-weight: bold;
}

/* About section styling */
#about {
  margin: auto;
  max-width: 70rem;
  font-size: 2.2rem;
  font-family: 'Raleway', sans-serif;
}

/* Footer styling */
footer {
  font-size: 12px;
  padding-top: 50px;
}

footer p {
  font-family: 'Gloria Hallelujah', cursive;
}
